
<section>
  <video autoplay loop id="video-background" poster=<%= image_path("abstract_balls_fallback.jpeg") %>>
    <source src=<%= video_path("abstract_digital_balls.mp4") %> type="video/mp4" id="actual-video"/>
    <img src=<%= image_path("abstract_balls_fallback.jpeg") %>/>
  </video>
  <h1 style="color: white;">This is my Blog Welcome Page.</h1>
</section>



