
<div class="background-video">
  <video id="background-video" class="video-background" autoplay loop src=<%= video_path("abstract_digital_balls.mp4") %> type="video/mp4">
  </video>
  <%= image_tag("abstract_balls_fallback.jpeg", id: 'fallback-image') %>
  <h1>Life on Web Development.</h1>
  <h5>Another software blog.</h5>
</div>




