



// show page
.blog-show {
  @include screen-control;
  color: $font-color;


  section {
  }

  h1 {
    font-size: $font-size * 1.5;
    margin-top: $base-margin;
    margin-bottom: $base-margin / 2;
  }

  h5 {
    font-size: $font-size * 1.2;
    margin-top: $base-margin * 2;
    margin-bottom: $base-margin;
  }

  p {
    margin-top: 0px;
    margin-bottom: 0px;
    // margin-bottom: $base-margin;
  }

  code {
    display: block;
    background-color: gray;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid white;
    margin-bottom: 10px;
  }

  code:hover {
    border: 1px solid blue;
  }

  .code-heading {
    display: inline-block;
    margin-top: $base-margin;
  }
}
