$background-video-height: 30%;
$blog-hero-text: 2em;

.background-video {
  h1, h5 {
      z-index: -10;
      color: white;
      text-align: center;
      font-weight: 400;
  }

  .enter-container {

    div {
      width: 100px;
      border: 1px solid $font-color;
      border-radius: 5px;
      margin: 0 auto;
      margin-top: 30px;
      padding: 10px;
    }

    div:hover {
      border-color: gray;
      background-color: black;
    }
  }

  h1 {
    font-size: $blog-hero-text;
    margin-top: ($background-video-height / 2);
  }

  h5 {
    margin: 0 auto;
    width: 220px;
    font-size: $blog-hero-text / 2;
    border-top: 1px solid $font-color;
    padding-top: 20px;
  }

  a {
    color: $font-color;
    display: block;
    margin: 0 auto;
    width: 0;
    height: 0;
  }

  a:hover {
    color: gray;
  }

  .bottom-arrow {
      border-left: 40px solid transparent;
      border-right: 40px solid transparent;
      border-top: 20px solid $font-color;
      margin-top: 30px;
  }

  .top-arrow {
      border-left: 40px solid transparent;
      border-right: 40px solid transparent;
      border-bottom: 20px solid $font-color;
  }

  .enter-text {
    position: relative;
    left: -20px;
    font-size: 18px;
    margin-top: 0;
  }
}

#background-video {
    @include media ($mobile) {
        top: $navigation-height * 2 + 1px;
        height: 91%;
    }

    @include media ($tablet) {
        top: $navigation-height * 2 + 1px;
        height: 91%;
    }

    @include media ($desktop) {
        top: $navigation-height;
        height: 100%;
    }

    @include media ($desktop-hd) {
        top: $navigation-height;
        height: 100%;
    }

    position: absolute;
    display: block;
    top: $navigation-height;
    left: 0;
    min-width: 100%;
    min-height: auto;
    width: initial;
    // height: 80%;
    z-index: -1;
    margin: 0 auto;
    object-fit: cover;
    padding: 0;
}

#fallback-image {
  position: absolute;
  display: block;
  top: $navigation-height;
  left: 0;
  min-height: 100%;
  min-width: auto;
  width: initial;
  z-index: -1;
  margin: 0 auto;
  object-fit: cover;
  padding: 0;
}

// ********************* mobile device styles

.touch-device {
  .background-video {
    h1, h5 {
      z-index: -10;
      // color: white;
      color: red;
      text-align: center;
      font-weight: 400;
    }

    h1 {
      font-size: $blog-hero-text * 2;
      margin-top: ($background-video-height * 2);
    }

    h5 {
      margin: 0 auto;
      width: 440px;
      font-size: $blog-hero-text;
      border-top: 1px solid $font-color;
      padding-top: 20px;
    }
  }
}
