$background-video-height: 30%;
$blog-hero-text: 2em;

.background-video {
  h1, h5 {
      z-index: -10;
      color: white;
      text-align: center;
      font-weight: 400;
  }

  h1 {
    font-size: $blog-hero-text;
    margin-top: ($background-video-height / 2);
  }

  h5 {
    margin: 0 auto;
    width: 220px;
    font-size: $blog-hero-text / 2;
    border-top: 1px solid white;
    padding-top: 20px;
  }
}

#background-video {
    @include media ($mobile) {
        top: $navigation-height * 2 + 1px;
        height: 91%;
    }

    @include media ($tablet) {
        top: $navigation-height * 2 + 1px;
        height: 91%;
    }

    @include media ($desktop) {
        top: $navigation-height;
        height: 100%;
    }

    @include media ($desktop-hd) {
        top: $navigation-height;
        height: 100%;
    }

    position: absolute;
    display: block;
    top: $navigation-height;
    left: 0;
    min-width: 100%;
    min-height: auto;
    width: initial;
    height: 80%;
    z-index: -1;
    margin: 0 auto;
    object-fit: cover;
    padding: 0;


}

#fallback-image {
    position: absolute;
    display: block;
    top: $navigation-height;
    left: 0;
    min-width: 100%;
    min-height: auto;
    width: initial;
    height: 33%;
    z-index: -1;
    margin: 0 auto;
    object-fit: cover;
    padding: 0;
}
