<div class="blog-index">

  <h1>Choose a topic from below:</h1>
  <% @posts.each do |post| %>
    <!-- <div class="button-control"> -->
      <%= link_to post.title, "/posts/#{post.slug}" %>
    <!-- </div> -->
  <% end %>
</div>
