@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

$desktop: new-breakpoint(min-width 769px max-width 3024px 12);
$tablet: new-breakpoint(min-width 481px max-width 768px 12);
$mobile: new-breakpoint(min-width 240px max-width 480px 4);


#background-video {
  // @include media($mobile) {
  //   display: none;
  //   visibility: hidden;
  // }

  // @include media($tablet) {
  //   display: none;
  //   visibility: hidden;
  // }

  // @include media($desktop) {
    /*  making the video fullscreen  */
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: auto;
    width: initial;
    height: 30%;
    z-index: -1;
    margin: 0 auto;
    object-fit: cover;
    padding: 0;
    // visibility: visible;
  // }
}

#fallback-image {

  // @include media($mobile) {
  //   position: absolute;
  //   display: block;
  //   top: 0;
  //   left: 0;
  //   min-width: 100%;
  //   min-height: auto;
  //   width: initial;
  //   height: 33%;
  //   z-index: -1;
  //   margin: 0 auto;
  //   object-fit: cover;
  //   padding: 0;
  //   visibility: visible;
  // }

  // @include media($tablet) {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: auto;
    width: initial;
    height: 33%;
    z-index: -1;
    margin: 0 auto;
    object-fit: cover;
    padding: 0;
  //   visibility: visible;
  // }

  // @include media($desktop) {
  //   display: none;
  //   visibility: hidden;
  // }
}



